*{
margin: 0;
padding: 0;
}

body{
  witdh: 100%;
  height: 100vh;
  overflow: hidden;
}

.char {
    width: 591px;
    height: 629px;
    position: absolute;
    background: url(sprites/runde.png);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: char 0.9s steps(8) infinite, movechars 2s linear infinite;
}

@keyframes dinos{
    from{
        background-position: 0;
    }

    to{
        background-position: 5456px;
    }
}

@keyframes movechars{
    0%{
        left: 0;
    }
    100%{
        left: 100%;
    }
}
